<h3> <%= @post.title %> </h3>

<% if @response.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @response.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  Details: <%=@post.description %>
</div>

<div>
  <%= render "response_form" %>
</div>
<% @responses.each do |response| %>
  <li>
    <%= response.message %>
    <%= link_to "Destroy Comment", [response.post, response],
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
  </li>
  <% end %>
