<h3> <%= @post.title %> </h3>

<div>
  Details: <%=@post.description %>
</div>

<div>
<%= form_for [@post, @response] do |f| %>

<%= f.label :message %>
<%= f.text_area :message %>

<%= f.submit %>

<% end %>
</div>



<% @responses.each do |response| %>
  <li><%= response.message %></li>
  <% end %>
